<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzz.wifiview">
    
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <user-permission android:name="android.permission.ACCESS_SUPERUSER" />
        
    <application
        android:icon="@drawable/ic"
        android:label="WiFi View"
        android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">
        <activity
			android:name=".MainActivity"
            android:label="WiFi View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ViewActivity" />
		<activity
			android:name=".FileActivity"
			android:label="备份管理"
			android:parentActivityName=".MainActivity"/>
    </application>
</manifest>
